.canvas-body b, .hero-slideshow-description b{
    font-weight: 700
}

.canvas-body i, .hero-slideshow-description i{
    font-style: italic
}

.canvas-body u, .hero-slideshow-description u{
    text-decoration: underline;
}

.canvas-body h1,
.canvas-body h2,
.canvas-body h3,
.canvas-body h4,
.canvas-body h5,
.canvas-body h6 {
    -moz-osx-font-smoothing: grayscale;
    -moz-text-rendering: optimizeLegibility;
    -ms-font-smoothing: antialiased;
    -ms-text-rendering: optimizeLegibility;
    -o-font-smoothing: antialiased;
    -o-text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    margin: .5em 0;
    text-rendering: optimizeLegibility;
}

.canvas-body h2 {
    font-size: 1.4em;
    line-height: 1.4em;
}

.canvas-body h3 {
    font-size: 1.2em;
    line-height: 1.2em;
}

.canvas-body ul, .canvas-body ol {
    padding-left: 20px;
    margin: 0 0 1.5em 0;
}

.canvas-body li img {
    max-width: 100%;
    height: auto;
}

.canvas-body .canvas-list ul {
    list-style-type: disc;
}

.canvas-body .canvas-list ol {
    list-style-type: decimal;
}

/*
 * this is css used for dark mode
*/
html[data-color-theme-enabled] .community-section,
html[data-color-theme-enabled] .cover-community-bar {
    --bg-1: #fff;
    --bg-2: #fff;
    --bg-3: #fff;
    --bg-4: #fff;
    --btn-bg: #fff;
    --btn-bg-hover: #000;
    --btn-bg-2-hover: #188FFF;
    --btn-bd: #000;
    --btn-bd-hover: #0f69ff;
    --link: #0f69ff;
    --text-1: #000;
}
html[data-color-theme-enabled].btsAdaptation .community-section,
html[data-color-theme-enabled].btsAdaptation .cover-community-bar {
    --brand-hendrix: #f8f4ff;
    --button-background-hover: #f0f3f5;
    --background-level-1: #ffffff;
    --background-level-2: #ffffff;
    --background-level-3: #ffffff;
    --background-level-4: #ffffff;
    --background-placeholder: #e0e4e9;
    --background-hover-level-2: #f5f8fa;
    --background-call-out-area-grey-1: #f5f8fa;
    --button-primary: #7d2eff;
    --button-secondary: #232a31;
    --button-background-disable: #e0e4e9;
    --button-background-disable-alt: #e0e4e9;
    --button-input-box: #b0b9c1;
    --card-stroke-level-1: #f0f3f5;
    --divider-primary: #e0e4e9;
    --highlight-yellow-L0: #fffdee;
    --icon-primary: #232a31;
    --icon-secondary: #6e7780;
    --icon-purple-highlight: #7d2eff;
    --icon-inverted: #ffffff;
    --text-primary: #232a31;
    --text-secondary: #6e7780;
    --text-tertiary: #b0b9c1;
    --text-purple-highlight: #7d2eff;
    --text-inverted: #ffffff;
    --text-disable: #b0b9c1;
    --text-blue-highlight: #0f69ff;
    --toast-alert: #eb0f29;
    /* Special cases */
    --button-background-hover-variation-1: var(--brand-hendrix);
}

@media (prefers-color-scheme: dark) {
    html[data-color-theme-enabled] .community-section,
    html[data-color-theme-enabled] .cover-community-bar {
        --bg-1: #000;
        --bg-2: #101518;
        --bg-3: #1d2228;
        --bg-4: #232a31;
        --btn-bg: #0f69ff;
        --btn-bg-hover: #0c54cc;
        --btn-bg-2-hover: transparent;
        --btn-bd: #0f69ff;
        --btn-bd-hover: #0c54cc;
        --link: #12a9ff;
        --text-1: #fff;
    }
    html[data-color-theme-enabled].btsAdaptation .community-section,
    html[data-color-theme-enabled].btsAdaptation .cover-community-bar {
        --brand-hendrix: #280051;
        --button-background-hover: #232a31;
        --background-level-1: #000000;
        --background-level-2: #101518;
        --background-level-3: #1d2228;
        --background-level-4: #232a31;
        --background-placeholder: #232a31;
        --background-hover-level-2: #2c363f;
        --background-call-out-area-grey-1: #232a31;
        --button-primary: #907cff;
        --button-secondary: #f0f3f5;
        --button-background-disable: #1d2228;
        --button-background-disable-alt: #2c363f;
        --button-input-box: #6e7780;
        --card-stroke-level-1: #2c363f;
        --divider-primary: #464e56;
        --highlight-yellow-L0: #262300;
        --icon-primary: #f0f3f5;
        --icon-secondary: #b0b9c1;
        --icon-purple-highlight: #907cff;
        --icon-inverted: #ffffff;
        --text-primary: #f0f3f5;
        --text-secondary: #b0b9c1;
        --text-tertiary: #6e7780;
        --text-purple-highlight: #907cff;
        --text-inverted: #ffffff;
        --text-disable: #6e7780;
        --text-blue-highlight: #12a9ff;
        --toast-alert: #eb0f29;
        /* Special cases */
        --button-background-hover-variation-1: var(--button-background-hover);
    }
}
