@charset "UTF-8";

#techvideo_btn {
	display: flex;
	background: url('https://sp.1111.com.tw/techvideo/video/ImportedPhoto.747569596.184704.jpeg') no-repeat center;
	background-size: contain;
	border-radius: 100%;
	z-index: 99999;
	border:5px solid #81CFD5;
	width: 80px;
	height: 80px;
	box-shadow: 2px 5px 6px -3px #333;
/*	animation: spin 8s infinite linear;*/
}
#tech_modoal{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #000000EE;
	align-items: center;
	justify-content: center;
	z-index: 100000;
	display: none;
}

.techvideo_title{
	position: relative;
	font-size: 14px;
	font-weight: bold;
	background-color: #81CFD5;
	display: flex;
	color: #000;
	justify-content: center;
	border-radius: 3px;
	padding:3px;
	letter-spacing: 2px;
	box-shadow: 2px 5px 6px -3px #333;

}
.techvideo_group{
	width: 80px;
	display: flex;
	flex-direction: column;
	position:fixed;
	bottom: 80px;
	right: 60px;	
	cursor: pointer;
	z-index: 99999;
}
.yt_group{
    width: 90px;
    display: flex;
    flex-direction: column;
    position:fixed;
    bottom: 200px;
    right: 60px;    
    cursor: pointer;
    z-index: 99999;
}
#yt_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    font-size: 15px;
    color: #fff;
    font-weight: bolder;
    background-color: #8d141b;
    text-align: center;
    border-radius: 10px;
    border:1px solid #000;
    padding:8px 4px;
    box-shadow: 2px 5px 6px -3px #333;
}
#tech_girl{
	width: 100%;
	max-width: 680px;
}
@media (max-width: 680px){
	#tech_girl{
		width:100% !important;
		max-width: 100%;
	}
	.techvideo_group{
		right: 30px;
	}
} 
.close_btn {
  position: absolute;
  right: 32px;
  top: 50px;
  width: 32px;
  height: 32px;
}
.close_btn:hover {
  opacity: 1;
}
.close_btn:before, .close_btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #eee;
}
.close_btn:before {
  transform: rotate(45deg);
}
.close_btn:after {
  transform: rotate(-45deg);
}
#share_video{
	position: absolute;
	top:5px;
	right: 5px;
}

.video_container{
	width:65%;
	position: relative;
	max-width: 680px;
	display: flex;
  align-items: center;
  justify-content: center;
}
.close_float_btn{
	position: absolute;
	top:-5px;
	right: -14px;
	display: block;
	width: 15px;
	height: 15px;
	background-color: #eee;
	border-radius: 100%;
	border:1px solid #666;
	z-index: 999999;
}

.close_float_btn:before, .close_float_btn:after {
  position: absolute;
  top:2px;
  right: 6px;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #000;
}
.close_float_btn:before {
  transform: rotate(45deg);
}
.close_float_btn:after {
  transform: rotate(-45deg);
}

ul.share_items {
    float: right;
    list-style: none;
}
ul.share_items .share_item {
    cursor: pointer;
    position: relative;
    float: left;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    margin-right: 5px;
}
ul.share_items .share_item .full_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
ul.share_items .share_item.line {
    background-color: rgba(6, 190, 5, 0.8);
    background-image: url(images/icon_share_line_white.svg);
}
ul.share_items .share_item.twitter {
    background-color: rgba(28, 157, 236, 0.8);
    background-image: url(images/icon_share_tiwtter_white.svg);
}
ul.share_items .share_item.fb {
    background-color: rgba(64, 100, 174, 0.8);
    background-image: url(images/icon_share_fb_white.svg);
}
ul.share_items .subscribe{
	background-color: #fff;
	line-height: 36px;
	text-align: center;
}
ul.share_items .subscribe a{
	color:#000;
	font-size: 10px;
	text-decoration: none;
}
@media (max-width: 680px){
	.video_container{
		width:100%;
	}
}
@keyframes spin {
  0% {transform: rotateX(0deg) rotateY(90deg);}
  50% {transform: rotateX(0deg) rotateY(-90deg);}
  100% {transform: rotateX(0deg) rotateY(90deg);}
}
#menu-item-76759{
	background-color: #96e6ff;
}

.stk-block.stk-block-column.stk-column>.stk-column-wrapper {
    margin: var(--stk-column-margin);
    border-radius: 16px;
    border: 2px solid #D4DADD;
    background: linear-gradient(180deg, rgba(244, 250, 252, 0.00) 0%, rgba(233, 248, 250, 0.57) 76.04%, #E1F7F9 100%);
    box-shadow: 2px 8px 13px 0px rgba(0, 0, 0, 0.10);
    padding: 16px;
}

@media (max-width:1040px){
    .stk-column {
        align-items: stretch;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 50%;
        margin-left: 0;
        margin-right: 0;
    }    
}
@media (max-width:550px){
    .stk-column {
        align-items: stretch;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 100%;
        margin-left: 0;
        margin-right: 0;
    }    
}
.stk-block-heading.stk-block h3{
    color:#000 !important;
}
.wp-block-stackable-button.stk-block-button a{
    border-radius: 12px;
    background: #E9EDEF!important;
    color: #029FAB !important;
    border: 1px solid #D4DADD!important;
}
.wp-block-stackable-button.stk-block-button a:hover{
    background: #029FAB!important;
    color: #FFFFFF !important;
    border: 1px solid #029FAB!important;
}
.wp-block-stackable-button.stk-block-button .stk-highlight{
    color: #029FAB !important;
    font-weight: 400 !important;
    font-size: 16px;

}
.wp-block-stackable-button.stk-block-button a:hover .stk-highlight{
    color: #fff !important;
    font-weight: 400 !important;

}
.wp-block-stackable-text.stk-block-text .entry-content p {
    font-size: 18px !important;
    line-height: 1.6;
}
#the-post .entry-content, #the-post .entry-content p {
    font-size:  18px !important;
    line-height: 1.6;
}

.wp-block-stackable-columns.aligncenter.stk-block-columns.stk-block .stk-container h2{
	color:#333 !important;
	font-size: 36px !important;
}
@media (max-width:550px){
	.wp-block-stackable-columns.aligncenter.stk-block-columns.stk-block .stk-container h2{
		color:#333 !important;
		font-size: 26px !important;
	}
	.stk-block-heading.stk-block h3{
    color:#000 !important;
    font-size: 18px !important;
	}
}
.wp-block-stackable-columns.aligncenter.stk-block-columns.stk-block .stk-container{
     border-radius: unset !important; 
     border: unset !important; 
     background:  unset !important; 
     box-shadow:  unset !important;
    padding: 16px;
}
a.more-link.button{
	background-color: #E9EDEF !important;
    color: #029FAB !important;
    border:1px solid #D4DADD;
}
a.more-link.button:hover{
	background-color: #029FAB !important;
    color: #FFFFFF !important;
}









.page-id-83429 .stk-block.stk-block-column.stk-column>.stk-column-wrapper {
    margin: var(--stk-column-margin);
    border-radius: 16px;
    border: 2px solid #D4DADD;
    background: #FFFFFF !important;
    box-shadow: 2px 8px 13px 0px rgba(0, 0, 0, 0.10);
    padding: 16px;
}

@media (max-width:1040px){
    .page-id-83429 .stk-column {
        align-items: stretch;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 50%;
        margin-left: 0;
        margin-right: 0;
    }    
}
@media (max-width:550px){
    .page-id-83429 .stk-column {
        align-items: stretch;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 100%;
        margin-left: 0;
        margin-right: 0;
    }    
}

.page-id-83429 .wp-block-stackable-button.stk-block-button a{
    border-radius: 12px;
    background: #E9EDEF!important;
    color: #25262A !important;
    border: 1px solid #D4DADD!important;
}
.page-id-83429 .wp-block-stackable-button.stk-block-button a:hover{
    background: #F3DF74 !important;
    color: #25262A !important;
    border: 1px solid #F3DF74!important;
}
.page-id-83429 .wp-block-stackable-button.stk-block-button .stk-highlight{
    color: #25262A !important;
    font-weight: 400 !important;
    font-size: 16px;

}

.page-id-83429 .wp-block-stackable-button.stk-block-button a:hover .stk-highlight{
    color: #000000 !important;
    font-weight: 400 !important;

}
.page-id-83429 .wp-block-stackable-button.stk-block-button .stk-highlight:hover{
	color: #000000 !important;
}
.page-id-83429 .wp-block-stackable-columns.aligncenter.stk-block-columns.stk-block .stk-container{
     border-radius: unset !important; 
     border: unset !important; 
     background:  unset !important; 
     box-shadow:  unset !important;
    padding: 16px;
}
.page-id-83429 a.more-link.button{
	background-color: #E9EDEF !important;
    color: #25262A !important;
    border:1px solid #D4DADD;
}
.page-id-83429 a.more-link.button:hover{
	background-color: #F3DF74 !important;
    color: #25262A !important;
}
