    .further-reading {
      margin-top: 60px;
    }

    .further-reading:has(> .further-reading__3) {
      margin-top: 0px;
    }

    .further-reading__title {
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
      font-weight: 700;
      color: #000000;
    }


    .further-reading__1,
    .further-reading__2 {
      background-color: rgba(47, 118, 170, 0.1);
      padding: 20px 10px;
      position: relative;
    }

    .further-reading__1 .further-reading__title,
    .further-reading__2 .further-reading__title {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 4px solid #2F76AA;
      margin: 0 auto;
    }

    .further-reading__2 ul li a {
      border-bottom:1px solid #2F76AA;
    }

    .further-reading__3 {
      background-color: #EFEFEF;
      padding: 20px 25px;
      margin: 0;
      text-align: left;
      background:
        linear-gradient(135deg, transparent 20px, #EFEFEF 0) top left,
        linear-gradient(-45deg, transparent 20px, #EFEFEF 0) bottom right;
      background-size: 50% 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .further-reading__3 .further-reading__title{
      margin:0;
      display: inline;

    }

    .further-reading__3 ul li a {
      color: #2F76AA;
      font-weight: 400;
    }

    .further-reading ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin:0;
    }

    @media(max-width:768px) {
      .further-reading ul {
        padding-left: 20px;
      }
    }

    .further-reading li {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.5;
      list-style-type: none;
      margin-bottom: 0px;
    }

    .further-reading li a {
      color:#000000;
      border-bottom: none;
    }


    .further-reading li::before {
      content: "\2022";
      margin-left: -28px;
      margin-right: 8px;
    }


    .further-reading__3 ul {
      padding-left: 27px;
    }

    @media(max-width:1297px) {
      .further-reading__3 ul {
        padding-left: 0px;
      }

      .further-reading__3 li::before {
        margin-left: 0px;
      }
    }

    @media(max-width:768px) {

      .further-reading__3 li {
        padding-bottom: 10px;
        border-bottom: 1px dashed #C7C7C7;
      }

      .further-reading__3 li:last-child {
        border-bottom: none;
        padding-bottom: 0px;
      }
    }

    .further-reading__3 li::before {
      content: "";
      margin-right: 0px;
    }