@charset "utf-8";
/*--20150121星座新增區--*/
.signbar{width:682px;font-family:"Noto Sans TC",微軟正黑體,li hei pro,"Courier New",Courier,monospace}
.navbar-sign-top{height:62px;/*border-top:1px solid #5895d5;border-bottom: 1px solid #1d5997*/background:#6957df;background:-webkit-linear-gradient(top,#6957df,#252291);background: -moz-linear-gradient(top,#6957df,#252291);background:-ms-linear-gradient(top,#6957df,#252291);width:100%}
.twelvsg{padding:0 5px}
.signtag{display:inline-block;*display:inline;*zoom:1;overflow:hidden;vertical-align:top;position:relative;border-width:0px 1px 0px 0;border-style: solid;-webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;-webkit-border-image:-webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;-moz-border-image:
-moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;-o-border-image:-o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;border-image:linear-gradient(to top, #6b59e0, #e3e0f5) 1 100%}
.signtag.rml{border-width:0px 0px 0px 0}
.signtag .link .text {position:relative;display:block;text-align:center;font-size:16px}
.signtag a{text-decoration: none;color:#d1b7d9;display:block;height:60px;width:55px;border-bottom:#252291 solid  2px}
.signtag:hover a,.signtag.current a{background:#fefefe;background:-webkit-linear-gradient(top,#eaeaec,#fefefe);background: -moz-linear-gradient(top,#eaeaec,#fefefe);background:-ms-linear-gradient(top,#eaeaec,#fefefe);color:#0a0909;border-bottom:#22b4e8 solid  2px}
.signtag .link .icon{display:block;width:36px;height:36px;margin:0px 7px;background-image:url(../img/sg_sprt.png);background-size:500px 500px}
.sg_aris .icon{background-position:-2px 0px}
.sg_taurus .icon{background-position:-40px 0px}
.sg_gemini .icon{background-position:-80px 0px}
.sg_cancer .icon{background-position:-120px 0px}
.sg_leo .icon{background-position:-160px 0px}
.sg_virgo .icon{background-position:-200px 0px}
.sg_libre .icon{background-position:-240px 0px}
.sg_scorp .icon{background-position:-280px 0px}
.sg_saget .icon{background-position:-320px 0px}
.sg_capri .icon{background-position:-360px 0px}
.sg_aqaur .icon{background-position:-400px 0px}
.sg_pisces .icon{background-position:-440px 0px}

.sg_aris:hover .icon,.current .sg_aris .icon{background-position:-2px -40px}
.sg_taurus:hover .icon,.current .sg_taurus .icon{background-position:-40px -40px}
.sg_gemini:hover .icon,.current .sg_gemini .icon{background-position:-80px -40px}
.sg_cancer:hover .icon,.current .sg_cancer .icon{background-position:-120px -40px}
.sg_leo:hover .icon,.current .sg_leo .icon{background-position:-160px -40px}
.sg_virgo:hover .icon,.current .sg_virgo .icon{background-position:-200px -40px}
.sg_libre:hover .icon,.current .sg_libre .icon{background-position:-240px -40px}
.sg_scorp:hover .icon,.current .sg_scorp .icon{background-position:-280px -40px}
.sg_saget:hover .icon,.current .sg_saget .icon{background-position:-320px -40px}
.sg_capri:hover .icon,.current .sg_capri .icon{background-position:-360px -40px}
.sg_aqaur:hover .icon,.current .sg_aqaur .icon{background-position:-400px -40px}
.sg_pisces:hover .icon,.current .sg_pisces .icon{background-position:-440px -40px}

.signmain{width:648px;color:#2b2723;background: #f9f9f9;border: 2px solid #ada5b8;padding: 15px}

.signmain .horocinfo {overflow:hidden;zoom:1;margin-top:10px;background: #fff;padding-bottom: 30px;color:#666666;}
.horocinfo .staus{
    font-size: 20px;
    margin: 0px 10px 0px 19px;
    color: #5e0d82;
    }
.horocinfo b.staus{ font-weight: normal; margin-left: 5px;}
.horocinfo .dtl_staus
{
    margin: 0px 10px 0px 19px;
    font-size:16px;
    bottom center no-repeat;
    line-height: 26px;
}
.horocinfo .dtl_staus02{margin: 0px 10px 0px 19px;font-size:16px;

    bottom center no-repeat;color: #5e0d82;line-height: 26px;}
.horocinfo .dtl_staus02 b{ color: #666666;}
.horocinfo .title_box {
    color: #000;
    padding: 0px 20px 0px 7px;
    margin: 35px 10px 6px 10px;
    /* font-weight: bold; */
    vertical-align: baseline;
    border-left: 3px solid #5b0b81;
    height: 26px;
    line-height: 26px;
}

/*.signmain .title_box .hdcopy, .signmain .title_box span, .signmain .title_box div {
display: inline-block}
*/
.title_box .sp3 {
    color: #333;
    font-size: 24px;
    margin-right: 15px;
    font-weight: bold;
}
.title_box .pul_str {
    display: inline-block;
    width: 42px;
    height: 30px;
    margin: -4px -3px;
}
.title_box .pul_str {
    background-position: -350px -84px;
}
.luckitem span {
    color: #2294e8;
}

*:first-child+html .signmain .title_box .hdcopy,*:first-child+html .signmain .title_box span,*:first-child+html .signmain .title_box div{display:inline;}
*html #horoscope .title_box .hdcopy,*html #horoscope .title_box span,*html #horoscope .title_box div{display: inline;}


/*.signmain  .title_box .rightdeco {line-height:40px;background: url(../img/title_left.png) no-repeat right top;padding: 0 95px 0 0}
.signmain .title_box .leftdeco {background: url(../img/title_right.png) no-repeat left top;padding:0 0 0 95px}
*/


.signmain .daybox {overflow:hidden;zoom:1;text-align:center;*padding-top:10px}
.signmain .daybox li {color:#2b2723;display:inline-block;*display:inline;vertical-align:middle}
.signmain  .daybox span {display: block;margin:0 9px;font-size:18px}
*html .signmain .daybox li{display:inline;vertical-align:middle}
*:first-child+html .signmain .daybox li{display:inline;vertical-align:middle}
*html .signmain .daybox span{display:inline;margin:0 20px}
*:first-child+html .signmain .daybox span{display:inline;margin:0 9px}

.signmain .pagebtn {color:#2b2723;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color:#e5e1ff;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.29), inset 0 0 5px #fff;-moz-box-shadow: 0 1px 1px rgba(0,0,0,.29), inset 0 0 5px #fff;box-shadow:0 1px 1px rgba(0,0,0,.29),inset 0 0 5px #fff;border:solid 1px #a6a1c1;background-image:-webkit-linear-gradient(bottom, #e5e1ff, #fff);background-image:-moz-linear-gradient(bottom,#e5e1ff, #fff);background-image: -o-linear-gradient(bottom, #e5e1ff, #fff);background-image:-ms-linear-gradient(bottom, #e5e1ff, #fff);background-image:linear-gradient(to top, #e5e1ff, #fff);padding:8px 10px;*line-height:35px;display:block;*display:inline;font-size:13px}
.signmain .pagebtn:hover{background:#e5e1ff;color:#342ea2}

.signmain .disable{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50)}
.sFl{float:left}
.sFr{float:right}
.sign_head img.thmb
{width: 90px;
    height: auto;
    margin-right: 15px;
    position: absolute;
    top: -16px;
    left: 0;}





.hrSPT{background-image: url(../img/sg_sprt.png);background-size:500px 500px}

/*.signmain .detail_box {margin:auto;width:604px;height:218px;background:url(../img/bg_luck.png) no-repeat left bottom;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.23);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.23);box-shadow: 0 1px 2px rgba(0,0,0,.23)}*/
/*.detail_box .innerMenu {
border-top: 1px solid #9b959f;
border-bottom: 1px solid #9b959f;
border-left: 1px solid #9b959f;
margin-bottom: 14px
}
.detail_box .innerMenu .wrap{height:38px}
.detail_box .outter{width:439px;margin:auto;padding:25px 0 0 0}*/
/*.detail_box .innerMenu ul li.active{background:#444444}
.detail_box .innerMenu ul li {background:#fff;position: relative;text-align:center;line-height:38px;width:145px;height:38px;float:left;border-right:1px solid #9b959f;}
.detail_box .innerMenu ul li.active a {color:#ffffff}
.detail_box .innerMenu ul li a{font-size:16px;display:block;color:#444444;text-decoration:none}
.detail_box .innerMenu ul li a:hover{color:#fff;background:#444444}
.detail_box .innerMenu ul li.active .inxArrow{display: block}
.detail_box .innerMenu ul li .inxArrow{position:absolute;bottom:-8px;left:50%;margin-left:-8px;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #444;width:0px;height:0px;display:none;z-index:10}
.detail_box .horoMessage{font-size:16px}*/
/*.horoMessage table th{width:65px;color:#2294e8;text-align:left;vertical-align:top;padding:0 20px 15px 0;font-weight:bold;white-space:nowrap;letter-spacing:2px}
.horoMessage table td {text-align:left;vertical-align:top;line-height:22px}
*/
.detail_box .innerMenu ul li.active a {color:#ffffff}
.professorBlock{clear:both;width:680px;height:154px;padding:0px;margin:8px 0 0 0;background:#f9f9f9;position:relative;border: 1px solid #cbc8cd;}
.professorBlock .intro {
    /* position: absolute; */
    /* top: 84px; */
    /* left: 42px; */
    width: 200px;
    /* color: #fff; */
    /* font-size: 13px; */
    padding: 10px;
    float: left;
    /* line-height: 20px; */
}

.professorBlock .intro_box{color:#666666;float:left;padding:10px;height:130px;width:438px;}
.intro_box .intro_txt{
    background: url(../img/sg_introbg.png) 0px 5px;
    background-repeat: no-repeat;
    color: white;
    font-size: 14px;
    height: 31px;
    font-family: 微软雅黑;
    padding-left: 10px;
    }
.intro_box .intro_txt span{float: left;
    line-height: 33px;}
.intro_box .intro_txt h2
{
    float: left;
    padding-left: 30px;
    font-size: 24px;color: #666;
}

 .intro_box .intro_cnt
 {
    font-size:14px;
    color:#666;
    font-family:微软雅黑;
    margin:3px 0 0 0px;
    line-height:25px;
}



 .intro_box .intro_cnt h3
 {
    align: left;
    color: #ff6b6f;
    font-size: 16px;
    text-align:left;
}

 .intro_box .intro_cnt_1 h3
 {
    align: left;
    color: #ff6b6f;
    font-size: 16px;
    text-align:left;
}
/*.professorBlock .intro{position:absolute;top:84px;left:42px;width:200px;height:200px;color:#fff;font-size:13px;line-height:20px}*/
/*.professorBlock .intro h3{color:#ff6b6f;font-weight:bold;font-size:15px;text-align:center;padding:10px 0 5px 0;line-height:20px}
.professorBlock .intro h4{font-family:serif;font-weight:bold;font-size:26px;text-align:center;padding:5px 0 16px 0;line-height:30px}*/
/*.professorBlock .oneword{position:relative;width:335px;height:125px;background-position:-499px -81px;top:138px;left:242px;display:table}
.professorBlock .oneword .txt{display:table-cell;vertical-align:middle;padding:0px 50px;*display:block;*position:absolute;*top:50%;*width:100%;color:#FFF;font-size:24px}
.professorBlock .oneword .txt span {*position:relative;*top :-50%}
*/

/*.fortune_app{width:642px;background: url(../img/bg_sky.jpg) no-repeat;padding:15px 20px 10px 20px;margin:8px 0;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.23);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.23);box-shadow: 0 1px 2px rgba(0,0,0,.23)}
.fortune_app h2{width:327px;height:46px;margin:auto;background-position:2px -456px;}
.fortune_app .sbtit{width:415px;font-size:13px;color:#fff;margin:0 auto;padding:20px 0;*padding:10px 0}*/


/*.app_renji:last-child:after{background:none}
.app_renji li {width:294px;display:inline-block;margin:5px 23px 5px 0;*display:inline;*zoom:1}
.app_renji li a {display:block;float:left;overflow:hidden;zoom:1;text-align:left;color:#fff;font-size:13px;height:70px}
.app_renji li a:hover{text-decoration:none;color:#e5e1ff}
.app_renji li a:hover h4{text-decoration:none;color:#95806c}
.app_renji li a h4{color:#c390df;font-size: 20px;line-height:36px}
.app_renji li .thmb{float:left;margin-right:10px;height:70px;width:70px*/}
/*.thmb.app_cal{background-position:-139px -272px}
.thmb.app_name{background-position:-70px -272px}
.thmb.app_fushui{background-position:0px -272px}
.thmb.app_monk{background-position:80px -203px}
.thmb.app_malin{background-position:148px -203px}
.thmb.app_eightw{background-position:220px -203px}
.thmb.app_zuwei{background-position:-210px -203px}
.thmb.app_rojin{background-position:361px -203px}
.thmb.app_fortl{background-position:430px -203px}
.thmb.app_tarot{background-position:500px -203px}

.daily_fortune{font-family:微軟正黑體,li hei pro,"Courier New",Courier,monospace;width:300px;height:133px;background: url(../img/bg_horoscope.jpg) no-repeat}
.daily_fortune .hrline{color:#fff;font-size:18px;padding:6px 0 6px 48px;overflow:auto}
.daily_fortune .hrline .more{display:block;float:right;width:70px;text-align:right;height:20px;font-size:13px;font-weight:bold;color:#ead0ed;padding:3px 8px}
.daily_fortune .rate{padding:0px 13px 0 0}
.daily_fortune .rate .whl_star{margin-top:-8px;font-size: 0;}
.daily_fortune .rate dt{color: #000;font-size:22px;font-weight:bold;padding:0 0 0 9px;line-height:30px}
.daily_fortune .sign{display:block;width:55px;height:55px;margin:10px}
.daily_fortune .sign.sg1{background-position:0px -344px}/* 牡羊 */
.daily_fortune .sign.sg2{background-position:-56px -344px}/* 金牛 */
.daily_fortune .sign.sg3{background-position:-112px -344px}/* 雙子 */
.daily_fortune .sign.sg4{background-position:-168px -344px}/* 巨蟹 */
.daily_fortune .sign.sg5{background-position:-224px -344px}/* 獅子 */
.daily_fortune .sign.sg6{background-position:-280px -344px}/* 處女 */
.daily_fortune .sign.sg7{background-position:-336px -344px}/* 天秤 */
.daily_fortune .sign.sg8{background-position:-392px -344px}/* 天蠍 */
.daily_fortune .sign.sg9{background-position:0px -400px}/* 射手 */
.daily_fortune .sign.sg10{background-position:-56px -400px}/* 魔羯 */
.daily_fortune .sign.sg11{background-position:-112px -400px} /* 水瓶 */
.daily_fortune .sign.sg12{background-position:-168px -400px} /*雙魚*/
.daily_fortune .luckitem {padding:0 13px 0 0}
.daily_fortune .luckitem li{display:inline-block;*display:inline;*zoom:1;text-align:center}

/*.bg_btmwrap{background: url(../img/bg_sgmain.jpg) no-repeat bottom;padding-bottom:40px}
*/



/*-----------NEWS_FORTUNE_AREA-----------------*/

.astro-menu-tab {
    border-top: 2px solid #525252;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.astro-menu-tabs {
    height: 46px;
    border: 1px solid #dfdfdf;
    border-top: none;
    _position: relative;
}


.astro-menu-tab-tabContainer{
    /* float: left; */
    display: inline;
    height: 47px;
}



.astro-menu-tab-tabi-selected {
    border-bottom: 2px solid #525252;
    color: #000;
    background: #f3f0f5;
}
.astro-menu-tab-tabi {
    position: relative;
    line-height: 45px;
    float: left;
    padding: 0 22px;
    cursor: pointer;
    font-size: 17px;
    color: #000;
    text-align: center;
}

.astro-menu-tab-tabContainer {
    position: relative;
    overflow: hidden;
    height: 47px;
}

.navi_astro_fortune {
    height: 40px;
    border-left: 1px solid #d7c2e4;
    border-radius: 3px;
}

.navi_astro_fortune li.selected ,.navi_astro_fortune li:hover{
    background: #5b0b81;
    color: #FFFFFF;
    border: 1px solid #5b0b81;

}

.navi_astro_fortune li.selected ,.navi_astro_fortune li:hover{
    background: #5b0b81;
    color: #FFFFFF;
    border: 1px solid #5b0b81;

}

.navi_astro_fortune li {
    width: 160px;
    height: 40px;
    line-height: 40px;
    background: #F0E9F3;
    color: #5b0b81;
    font-size: 16px;
    border: 1px solid #d7c2e4;
    border-left: none;
    float: left;
    text-align: center;
    cursor: pointer;
}
.navi_astro_fortune li:first-child{
    -webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
.navi_astro_fortune li:last-child{
    -webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
.signmain .sign_head {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #cab6d8;margin: 20px 0px;position: relative
}


.signmain .sign_head .tit {
    float: left;
    height: 60px;margin-left: 100px;
}


.signmain .sign_head .info {
    float: left;
    height: 71px;
    border-left: 5px solid #a975c5;
    margin-left:10px;
    padding-left:15px;
}


.signmain .sign_head .tit .tit_n {
    height: 45px;
    line-height: 40px;
    font-size: 36px;
    color: #333;
}

.signmain .sign_head .tit .tit_d {
    height: 15px;
    line-height: 15px;
    color: #999;
    font-size: 14px;
}

.signmain .sign_head .info .info_m {
    margin:2px 0 8px 0;
}

/*.signmain .sign_head .info  .time {
    margin-top: 12px;
    color: #999;
    font-size: 14px;
}
*/

.info_m  .sp1 {
    vertical-align: bottom;
    color: #333;
    font-size: 24px;line-height: 24px;
}

.info_m .sp2 {
    margin-left: 8px;
    vertical-align: bottom;
    color: #999;
    font-size: 14px;
}



.clearfix:after, .clearfix:before {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}





.article_mod {
    margin-top: 0px;
}


.article_mod .tb {
    width: 100%;
    font-size: 14px;
    color: #666;

}


.article_mod .tb tr {
    width: 100%;
    height: 50px;
    border: 1px solid #fff;
    background-color: #eee;
}


.article_mod .tb .tb_td1 {
    width: 108px;
    text-indent: 0;
    background-color: #d9d9d9;
    color: #000;
    text-align: center;
}


.article_mod .tb td {
    width: 230px;
    text-indent: 5px;
}



/*.horocinfo dl.rate{width:310px;padding:20px 10px;}*/
/*.horocinfo .rate dt {width:60px;height:20px;padding:12px 15px;margin-right:10px;font-size:18px;clear:both;float:left;color:#fff;text-align:center;background:#a975c5}*/
.whl_star{font-size: 0px;}
.whl_star .pul_str,.whl_star .gry_str{width:42px;height:42px;display:inline-block;*display:inline;*zoom:1}
.whl_star .pul_str{background-position:-350px -79px}
.whl_star .gry_str{background-position:-392px -79px}
.wrk_star li,.love_star li,.money_star li,.hlth_star li,.nigt_star li,{position:relative;top:-2px}
.wrk_star .str,.wrk_star .gry_str,.love_star .str,.love_star .gry_str,.money_star .str,.money_star .gry_str,.hlth_star .str,.hlth_star .gry_str,.nigt_star .str,.nigt_star .gry_str{width:25px;height:25px;display:inline-block;*display:inline;*zoom:1}
.wrk_star .str{background-position:-351px -122px}
.wrk_star .gry_str,.money_star .gry_str,.hlth_star .gry_str,.nigt_star .gry_str{background-position:-425px -122px}
.love_star,.wrk_star,.money_star,.hlth_star,.nigt_star{height: 25px;margin-top: 4px}
.love_star .str{background-position:-399px -122px}
.love_star .gry_str{background-position:-449px -122px}
.money_star .str{background-position:-375px -122px}
.hlth_star .str{background-position:-351px -146px}
.nigt_star .str{background-position:-375px -147px}

/*.horocinfo .noteitem,.daily_fortune .luckitem{clear:both;font-size:15px;text-align: center;color:#444444}
.horocinfo .noteitem li{margin:20px 0 5px 0;padding:5px 10px;display: inline-block;*display:inline;*zoom:1;text-align:center}
.horocinfo .noteitem li span,.daily_fortune .luckitem span{color:#2294e8}*/

/*2016新增算命生肖區*/
.navbar-animal-top{
    height: 105px;
    background:#f8f3ec;
    width: 678px;
    border:2px solid #e7d1a4;
    border-bottom: none;
    }
.navbar-animal-top ul{padding: 10px 3px;}
.navbar-animal-top ul li{
    float: left;
    margin: 5px 15px;
    }
.navbar-animal-top ul li a{
    display: block;
    width:80px;
    height: 30px;
    font-size: 18px;
    background: #faf1e1;
    color: #d87800;
    text-align:center;
    border: 1px solid #e7d1a4;
    border-radius: 4px;
    line-height: 30px;
    }
.navbar-animal-top ul li a:hover,.navbar-animal-top ul li a.selected{ text-decoration: none; background: #d58d3a; color: #fff;}

.navbar-animal-top ul li a:hover,.navbar-animal-top ul li a.selected11{ text-decoration: none; background: #ffffff color: #000000;}

.animalmain {
    width: 648px;
    color: #2b2723;
    background: #fff;
    border: 2px solid #e7d1a4; border-top: none;
    padding: 15px;
}


.navi_animal_fortune {
    height: 50px;border-left: 2px solid #e7d1a4;border-right: 2px solid #e7d1a4;
}
.navi_animal_fortune li {
    display: block;
    width: 339px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    color: #805215;
    font-size: 20px;
    float: left;
    text-align: center;
    cursor: pointer;
    border-bottom:2px solid #fff;
}
.navi_animal_fortune li.selected,.navi_animal_fortune li:hover{
    background: #f8f3ec;
    border-bottom:2px solid #d87800;
}
.animal_head {width: 100%;
    height: 80px;
    border-bottom: 1px solid #e7d1a4;
    margin: 20px 0px;
    position: relative;
}
.animal_head .tit {
    float: left;
    height: 60px;
    margin-left: 10px;
}
.animal_head .tit .tit_n {
    height: 45px;
    line-height: 40px;
    font-size: 36px;
    color: #333;
}
.animal_head .tit .tit_y {
    height: 22px;
    line-height: 22px;
    color: #d58d3a;
    font-size: 20px;
}
.animal_head .info {
    float: left;
    height: 71px;
    border-left: 5px solid #d58d3a;
    margin-left: 10px;
    padding-left: 15px;
}
.animal_head .info .info_m {
    margin: 2px 0 8px 0;
}

.horocinfo .staus2 {
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    color: #d58d3a;
    /* padding-bottom: 35px; */
}
.horocinfo .title_box2 {
    color: #000;
    padding: 0px 20px 0px 7px;
    margin: 15px 10px 6px 10px;
    font-size: 22px;
    font-weight: bold;
    vertical-align: baseline;
    height: 26px;
    border-left: 3px solid #d58d3a;
    line-height: 26px;
}

/*農民曆*/
.lunarmain{
    width: 678px;
    color: #2b2723;
    background: #fff;
    border: 2px solid #fff3e6;
    padding: 0px;
    }

/*農民曆*/
.lunar_date{clear: both;}
.lunar_date .dateleft{float:left;width:140px;border-right: 1px solid #f0f0f0;}
.lunar_date .dateright{float:right;width:536px;border-top: 1px solid #f0f0f0;/* padding: 10px 0; */}
.lunar_date .dateleft .day_num{ display:block;width:100px;margin:25px auto 10px auto;line-height:70px;text-align:center;
                    font-size:60px; font-weight:900; color:#333333; border-top:4px solid #c91f1f;}
.lunar_date .dateleft .day_maru{display:block;width:108px;height: 108px;margin: 15px auto 10px auto;background: url(../img/sg_good.png) 0 0;}
.lunar_date .dateleft .day_year{font-size: 19px;display: block;font-weight: bold;color:#333333;text-align: center;}
.lunar_date .dateleft .day_lunar{font-size:15px;font-weight: bold;color:#c91f1f;display: block;text-align: center;margin: 20px auto 5px auto;}
.lunar_date .dateleft .day_animal{font-size:15px;font-weight: bold;color:#c91f1f;text-align: center;display: block;}

.lunar_date .dateinfo{
 width:100%;
 background: #f9f9f6;
 line-height: 40px;
 font-size: 16px;
 }
.lunar_date .dateinfo>b{font-size: 18px;color:#6d213c;margin-left: 10px;font-weight: bold;}
.lunar_date .dateinfo>span{font-size: 15px;color:#6d213c;margin-left:5px;font-weight: bold}

/**/
a.btn_lunarstyle{border: 1px solid #d7bc9f;background: #FFF;padding: 0 15px;border-radius: 12px;line-height: 24px;color: #666666;font-size: 16px;float: right;margin-top: 8px;margin-right: 6px;cursor: pointer;}
a:hover.btn_lunarstyle{color: #FFF;background: #d49d09;border: 1px solid #d49d09;text-decoration: none;}
a.btn_lunarstyle02{line-height: 24px;color: #e84c3d;font-size: 16px;float: right;margin-top: 8px;margin-right: 6px;cursor: pointer;}
a:hover.btn_lunarstyle02{text-decoration: underline;}

/**/
.day_warning{width: 516px;padding: 0 10px;font-size: 16px;margin-bottom: 15px;line-height: 30px;font-weight: bold;margin: 10px 0;}
.day_warning dt{color:#c91f1f;width: 90px;float: left;}
.day_warning dd{color:#6d213c;float: right;text-align: left;width: 425px;}
.day_warning dd .srt
 { width: 205px;float: left;}
/**/
.day_guide{width: 516px;padding: 0 10px;margin-bottom: 15px;margin-top: 10px;color: #666666;font-size: 16px;height: 46px;}
.day_guide dt{display: block;float: left;}
.day_guide dd
{
    display: block;
    float: left;
    width: 445px;
    margin-top: 12px;
}
.day_guide dd em {
    padding: 0px 2px;
}
.day_guide dd em::after {
    content: "、";
}
inspector-stylesheet:5
.day_guide dd em:last-child::after {
    content: no-close-quote;
}
.day_guide dd a
{
   color: #666666;
     font-size: 18px;
     margin: 0 5px;
     display: inline-block;
     line-height: 24px;
     width: 76px;

}
.dg_icon_ok01,.dg_icon_no01{
    display: block;width:40px; height:40px;  border-radius: 50%;
    font-size: 25px; line-height:40px; text-align: center; font-weight: bold;
    float: left; margin-right: 10px; }
.dg_icon_ok01{ color:#f93333;border: 3px solid #f93333;}
.dg_icon_no01{color:#747474;border: 3px solid #747474;}

.dg_icon_ok02,.dg_icon_no02{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    }
.dg_icon_ok02{ color:#fff;background:  #f93333;}
.dg_icon_no02{color:#fff;background:#747474;}

/*擇日*/
.day_slct{text-align: center;margin-top: 15px;}
.day_slct a{line-height: 46px;color: #FFF;font-size: 23px;font-weight: bold;padding: 0 35px 0 20px;background: #929292;display: inline-block;margin: 0 10px;}
.day_slct a:hover,.day_slct a.active{ background: #e84c3d; text-decoration: none;}

.day_slctitem
{
      width: 500px;
      border: 1px dashed #ccb9d4;
      padding: 12px 4px;
      margin-right: 9px;
      height: auto;
      margin: 15px auto;
      overflow: auto;
}
.day_slctitem li
{
    float: left;
    margin: 3px 6px;
    line-height: 20px;
    width: 88px;
}
.day_slctitem li a
{
    color: #666666;
    /* font-weight: bold; */
    font-size: 15px;
    line-height: 20px;
    vertical-align: top;
    }
 .day_slctitem li  input{
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
}

.day_slctdate{font-size: 16px;color: #6d213c;line-height: 34px;font-weight: bold;padding-left: 12px;}
.day_slctdate .sel{
    width: 180px;
    height: 34px;
    line-height: 34px;
    vertical-align: top;
    font-size: 18px;
    margin-right: 8px;
    border-radius: 4px;
    color: #666666;
    border: 1px solid #d7bc9f;
    }

a.btn_lunarsrch{font-size: 22px;font-weight: bold;color: #FFF;background: #c1221c;text-align: center;display: block;line-height: 50px;width: 180px;border-radius: 6px;margin: 20px auto;}
a:hover.btn_lunarsrch{background: #e84c3d; text-decoration: none;}
/*擇日查詢結果*/
.lunar_result{border-top:1px solid #f5f2ee;clear: both;}
.lunar_result .lunar_date{border-top:1px solid #f5f2ee;height: 210px;padding-top: 2px;}
.day_reusltdate{font-size: 25px;font-weight: bold;text-align: center;padding: 15px 0;}
.day_reusltdate b{color: #f93333;padding: 10px 0;}

/*名詞解釋*/
.day_noun{
    width: 620px;
    margin: 15px auto;
}
.day_noun li{font-size: 16px;border-bottom: 1px #e1e1e1  dashed;line-height: 22px;clear: both;margin-bottom: 15px;padding: 5px 0;}

.day_noun li b {
    color: #333333;
    font-weight: bold;
    width: 83px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}
.day_noun li p{color: #737373;height: auto;/* margin-left: 65px; */display: inline-block;width: 520px;}

/*月曆**/
.calendar {
    width: 656px;
    border: 2px solid #d49d09;
    background-color: #fcf2d8;
    height: 484px;
    margin: 10px auto;
    clear: both;
    }
.calendar .dv_card {
    position: absolute; display: none;text-align: left;background-color: #FFF;color: #333;
    line-height: 24px; font-size: 16px;padding: 0 5px; border: 2px solid #c91f1f;
    padding: 5px 15px; top: 50px; z-index: 100;left: 70px;}
.calendar .dv_card>div{width: 130px;}
.calendar .dv_card>div b.sun{ color:#c91f1f}
.calendar .dv_title {
    width: 630px; height: 50px;  margin: 0 auto; border-bottom: 2px solid #d49d09;
    text-align: center;}
.calendar .dv_title .preMonth, .calendar .dv_title .nextMonth {
    color: #d49d09; width: 22px; font-size: 20px; margin-top: 10px;}
.calendar .dv_title .preMonth { float: left;}
.calendar .dv_title .nextMonth { float: right;}
.calendar .dvt_cont { width: 530px; margin: 0 auto; position: relative; top: 8px;}
.calendar .sel { width: 164px; height: 38px; line-height: 38px;vertical-align: top;font-size: 20px; margin-right: 8px; border-radius: 4px; color: #666666; border: 1px solid #d7bc9f;
    float: left;}
.calendar .sel option { line-height: 20px;height: 20px;}
.calendar .selectView {
    position: absolute;
    width: 65px;
    text-align: left;
    cursor: default;
    color: #4f3560;
    z-index: 19999;
}
.calendar .selectView .ds_cont {
    border: 1px solid #d7bc9f;
    background: #FFF;
    height: 38px;
    width: 164px;
    _line-height: 22px;
    overflow: hidden;
    border-radius: 3px;
}
.calendar .selectView .ds_title {
    float: left;
    padding-left: 13px;
    line-height: 32px;
}
.calendar .selectView .ds_button {
    float: right;
    width: 9px;
    height: 5px;
    background: url('https://n.sinaimg.cn/astro/iframe/150707/images/select_arrow.png') no-repeat;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 8px;
}
.calendar .selectView .ds_list {
    position: absolute;
    top: 31px;
    left: 0;
    background: #FFF;
    width: 100%;
    z-index: 999;
}
.calendar .selectView .dsl_cont {
    border: 1px solid #ccbbd7;
    _zoom: 1;
    position: relative;
    z-index: 999;
    max-height: 276px;
    overflow-y: auto;
    border-radius: 0 0 3px 3px;
}

.calendar .dv_day {
    width: 630px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    border-bottom: 1px solid #d49d09;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
}
.calendar .dv_day dd {
    width: 90px;
    text-align: center;
    float: left;
}
.calendar .dv_day .sun {
    color: #f93333;
}
.calendar .dv_date {
    width: 630px;
    margin: 0 auto;
    color: #666666;
    font-size: 18px;
}
.calendar .dv_date table{    border-collapse: collapse;
    border-spacing: 0;}
.calendar .dv_date body {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.calendar .dv_date tr {
    border-bottom: 1px solid #d49d09;
    height: 64px;
}
.calendar .dv_date td {
    width: 90px;
    height: 64px;
    text-align: center;
}
.calendar .dv_hover {
    cursor: default;
}
.calendar .dv_date .sp1 {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 100%;
    font-weight: bold;
    line-height: 1;
}
.calendar .dv_date .sun{ color:#f93333}
.calendar .dv_date .sp2 {
    line-height: 1.4;
    font-weight: bold;
}
.calendar .dv_hover {
    cursor: default;
    height: 60px;
    position: relative;
}


.calendar .dv_date .selected {
    background: #b76a17;
    color: #fff;
}
.calendar .dv_date .selected .sp1, .calendar .dv_date .selected .sp2 {
    color: #fff;
}
.calendar .dv_date .selected .sp1, .calendar .dv_date .selected .sp2 {
    color: #fff;
}

.calendar .back_today {
    line-height: 34px;
    color: #d49d09;
    cursor: pointer;
    font-size: 20px;
    float: right;
    font-weight: bold;
}

a.top:link {color:#5b0b81; text-decoration:none;}    /* 設定尚未點閱過的連結樣式 */
a.top:visited {color:#FFFFFF; text-decoration:none;} /* 設定過去曾經閱過的連結 */
a.top:hover {color:#FFFFFF; text-decoration:none;}   /* 設定滑鼠游標指在連結位置上的樣式 */
a.top:active {color:#FFFFFF; text-decoration:none;}  /* 設定上點擊過的連結樣式 */