body {
    /*強制出現scrollBar*/
    /*overflow-y: scroll;*/
}

#ArticleIndex .article .postbody a {
    color: #1a0dab;
    text-decoration: underline;
}


    #ArticleIndex .article .postbody a:hover {
        color: #cd0505;
        text-decoration: none;
    }
