.header_main, .footer-top, .footer-center, .footer-bottom, .footer-center > .nav, .footer-center > .cover {
    *zoom: 1
}

    .header_main:before, .footer-top:before, .footer-center:before, .footer-bottom:before, .footer-center > .nav:before, .footer-center > .cover:before {
        content: '';
        display: table
    }

    .header_main:after, .footer-top:after, .footer-center:after, .footer-bottom:after, .footer-center > .nav:after, .footer-center > .cover:after {
        content: '';
        display: table;
        clear: both
    }

._center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

._pull-right {
    float: right !important
}

._pull-left {
    float: left !important
}

._hide {
    display: none !important
}

._show {
    display: block !important
}

._invisible {
    visibility: hidden
}

._hidden {
    display: none !important
}

._list-unstyled {
    padding-left: 0;
    list-style: none
}

._responsive {
    font-size: calc(12px + 9 * ((100vw - 420px) / 860))
}

@media screen and (min-width: 1280px) {
    ._responsive {
        font-size: 21px
    }
}

@media screen and (max-width: 420px) {
    ._responsive {
        font-size: 12px
    }
}

._text-right {
    text-align: left
}

._text-center {
    text-align: center
}

._text-right {
    text-align: right
}

._text-justify {
    text-align: justify
}

._text-nowrap {
    white-space: nowrap
}

._text-lowercase {
    text-transform: lowercase
}

._text-uppercase {
    text-transform: uppercase
}

._text-capitalize {
    text-transform: capitalize
}

._text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.footer-bottom .link img, .login-block .popover-avator img, .login-block .mobile-avator img {
    display: block;
    max-width: 100%;
    height: auto
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

    audio:not([controls]) {
        display: none;
        height: 0
    }

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

    a:active {
        outline: 0
    }

    a:hover {
        outline: 0
    }

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

.burger-nav h1, header.header h1, .search-overlay h1, .login-wrap h1, .desktop-nav h1, .footer-wrap h1 {
    font-size: 2em;
    margin: 0.67em 0
}

.burger-nav mark, header.header mark, .search-overlay mark, .login-wrap mark, .desktop-nav mark, .footer-wrap mark {
    background: #ff0;
    color: #000
}

.burger-nav small, header.header small, .search-overlay small, .login-wrap small, .desktop-nav small, .footer-wrap small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

.burger-nav figure, header.header figure, .search-overlay figure, .login-wrap figure, .desktop-nav figure, .footer-wrap figure {
    margin: 1em 40px
}

.burger-nav hr, header.header hr, .search-overlay hr, .login-wrap hr, .desktop-nav hr, .footer-wrap hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

    button[disabled], html input[disabled] {
        cursor: default
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0
    }

input {
    line-height: normal
}

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0
    }

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        height: auto
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        box-sizing: content-box
    }

        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none
        }

.burger-nav fieldset, header.header fieldset, .search-overlay fieldset, .login-wrap fieldset, .desktop-nav fieldset, .footer-wrap fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, select, textarea, p, th, td, object {
    padding: 0;
    margin: 0
}

.burger-nav, .search-overlay, .login-wrap, .desktop-nav, .footer-wrap {
    position: relative
}

.burger-nav, header.header, .search-overlay, .login-wrap, .desktop-nav, .footer-wrap {
    font-size: 16px;
    font-family: Arial, Microsoft JhengHei, \5FAE\8EDF\6B63\9ED1\9AD4, LiHei Pro, \5137\9ED1\9AD4, PMingLiu, \65B0\7D30\660E\9AD4, sans-serif
}

    .burger-nav ul, .burger-nav ol, .burger-nav li, header.header ul, header.header ol, header.header li, .search-overlay ul, .search-overlay ol, .search-overlay li, .login-wrap ul, .login-wrap ol, .login-wrap li, .desktop-nav ul, .desktop-nav ol, .desktop-nav li, .footer-wrap ul, .footer-wrap ol, .footer-wrap li {
        list-style-type: none;
        list-style-image: none
    }

    .burger-nav h1, .burger-nav h2, .burger-nav h3, .burger-nav h4, .burger-nav h5, .burger-nav h6, header.header h1, header.header h2, header.header h3, header.header h4, header.header h5, header.header h6, .search-overlay h1, .search-overlay h2, .search-overlay h3, .search-overlay h4, .search-overlay h5, .search-overlay h6, .login-wrap h1, .login-wrap h2, .login-wrap h3, .login-wrap h4, .login-wrap h5, .login-wrap h6, .desktop-nav h1, .desktop-nav h2, .desktop-nav h3, .desktop-nav h4, .desktop-nav h5, .desktop-nav h6, .footer-wrap h1, .footer-wrap h2, .footer-wrap h3, .footer-wrap h4, .footer-wrap h5, .footer-wrap h6 {
        line-height: 150%
    }

    .burger-nav h1, header.header h1, .search-overlay h1, .login-wrap h1, .desktop-nav h1, .footer-wrap h1 {
        font-size: 28px;
        font-size: 1.75rem
    }

    .burger-nav h2, header.header h2, .search-overlay h2, .login-wrap h2, .desktop-nav h2, .footer-wrap h2 {
        font-size: 24px;
        font-size: 1.5rem
    }

    .burger-nav h3, header.header h3, .search-overlay h3, .login-wrap h3, .desktop-nav h3, .footer-wrap h3 {
        font-size: 20.8px;
        font-size: 1.3rem
    }

    .burger-nav h4, header.header h4, .search-overlay h4, .login-wrap h4, .desktop-nav h4, .footer-wrap h4 {
        font-size: 19.2px;
        font-size: 1.2rem
    }

    .burger-nav h5, header.header h5, .search-overlay h5, .login-wrap h5, .desktop-nav h5, .footer-wrap h5 {
        font-size: 16px;
        font-size: 1rem
    }

    .burger-nav a, header.header a, .search-overlay a, .login-wrap a, .desktop-nav a, .footer-wrap a {
        text-decoration: none;
        outline: none
    }

        .burger-nav a:hover, .burger-nav a:focus, header.header a:hover, header.header a:focus, .search-overlay a:hover, .search-overlay a:focus, .login-wrap a:hover, .login-wrap a:focus, .desktop-nav a:hover, .desktop-nav a:focus, .footer-wrap a:hover, .footer-wrap a:focus {
            color: #b40505;
            text-decoration: none;
            outline: none
        }

.header_main, .footer-top, .footer-center, .footer-bottom, .footer-center > .nav, .footer-center > .cover {
    *zoom: 1
}

    .header_main:before, .footer-top:before, .footer-center:before, .footer-bottom:before, .footer-center > .nav:before, .footer-center > .cover:before {
        content: '';
        display: table
    }

    .header_main:after, .footer-top:after, .footer-center:after, .footer-bottom:after, .footer-center > .nav:after, .footer-center > .cover:after {
        content: '';
        display: table;
        clear: both
    }

.header_top, .header_main, .footer-1200 {
    *zoom: 1;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

    .header_top:before, .header_main:before, .footer-1200:before {
        content: '';
        display: table
    }

    .header_top:after, .header_main:after, .footer-1200:after {
        content: '';
        display: table;
        clear: both
    }

.header {
    background: #CD0505
}

.burger-nav .title, .burger-nav a, .header_top li, .header_top li a, .header_top li a:hover, .footer-center > .nav > ul > li.title a, .footer-center > .cover a, .footer-bottom .link li, .footer-bottom .sitemap a, .footer-bottom .edm-form .mail-icon, .footer-bottom h6, .social-group a {
    color: #fff
}

.header_main > .header-right a {
    color: #CD0505
}

.search-form > .js-searchClose {
    color: #ffffff;
    color: rgba(255,255,255,0.87)
}

    .search-form > .js-searchClose:hover, .search-form > .js-searchClose:focus {
        color: #fff
    }

*, *:before, *:after {
    box-sizing: border-box
}

#wrap, .burger-nav {
    transition: all 0.3s ease-in-out
}

.-search-fixed, .-login-fixed {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.-burger-fixed {
    overflow: hidden
}

#wrap {
    position: relative;
    width: 100%;
    left: 0
}

    #wrap.-black-bg {
        z-index: 1
    }

        #wrap.-black-bg:before {
            content: '';
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1002;
            background: #000000;
            background: rgba(0,0,0,0.75);
            overflow: hidden
        }

.header_main .header-sprite {
    cursor: pointer
}

.burger-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1003;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #222;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

    .burger-nav .title, .burger-nav a {
        font-size: 24px;
        font-size: 1.5rem
    }

    .burger-nav .title {
        padding-left: 16px;
        padding-left: 1rem;
        background: #CD0505;
        line-height: 56px;
        line-height: 3.5rem
    }

    .burger-nav ul a {
        display: block;
        padding-left: 16px;
        padding-left: 1rem;
        line-height: 48px;
        line-height: 3rem;
        color: #FFF
    }

        .burger-nav ul a:hover, .burger-nav ul a:focus {
            box-shadow: none !important
        }

        .burger-nav ul a:hover, .burger-nav ul a:focus {
            background: #000;
            color: #CD0505
        }

        .burger-nav ul a.-wealth, .burger-nav ul a.-wealth:hover, .burger-nav ul a.-wealth:focus {
            color: #FAB805
        }

        .burger-nav ul a.-health, .burger-nav ul a.-health:hover, .burger-nav ul a.-health:focus {
            color: #F40
        }

    .burger-nav > ul {
        padding-top: 16px;
        padding-top: 1rem;
        width: 20vw;
        min-height: 100vh
    }

        .burger-nav > ul ul a {
            padding-left: 24px;
            padding-left: 1.5rem;
            color: #888
        }

    .burger-nav.-show {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19),0 8px 17px 0 rgba(0,0,0,0.2)
    }

@media screen and (max-width: 768px) {
    .burger-nav > ul {
        width: 33vw
    }

    .burger-nav ul a {
        font-size: 1.25rem
    }
}

@media screen and (max-width: 640px) {
    .burger-nav > ul {
        width: 66vw
    }

    .burger-nav ul a {
        font-size: 1.3rem
    }
}

@media screen and (max-width: 480px) {
    .burger-nav > ul {
        width: 75vw
    }
}

.header {
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%
}

    .header .header_main > .bwcom_logo, .header .header_main > .header-left, .header .header_main > .header-right {
        height: 70px
    }

@media screen and (max-width: 480px) {
    .header .header_main > .bwcom_logo, .header .header_main > .header-left, .header .header_main > .header-right {
        height: 56px
    }
}

.header_top {
    line-height: 32px;
    line-height: 2rem;
    font-size: 14.4px;
    font-size: 0.9rem;
    color: #fff
}

    .header_top ul {
        float: right;
        margin-right: 0
    }

    .header_top li, .header_top li a {
        float: left;
        margin-left: 8px;
        margin-left: 0.5rem
    }

        .header_top li a:hover {
            text-decoration: underline
        }

@media screen and (max-width: 1024px) {
    .header_top {
        padding-right: 1rem;
        padding-left: 1rem
    }
}

@media screen and (max-width: 640px) {
    .header_top, .header_top li {
        font-size: .8rem
    }

        .header_top li {
            margin-left: .25rem
        }
}

@media screen and (max-width: 480px) {
    .header_top {
        display: none
    }
}

.header_content {
    background: #fff
}

@media screen and (max-width: 480px) {
    .header_content {
        border-top: 3px solid #CD0505
    }
}

.header_main > .bwcom_logo, .header_main > .header-left, .header_main > .header-right {
    width: calc(99.999999% * 1/3);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90px
}

    .header_main > .bwcom_logo:nth-child(1n), .header_main > .header-left:nth-child(1n), .header_main > .header-right:nth-child(1n) {
        float: left;
        margin-right: 0;
        clear: none
    }

    .header_main > .bwcom_logo:last-child, .header_main > .header-left:last-child, .header_main > .header-right:last-child {
        margin-right: 0
    }

    .header_main > .bwcom_logo:nth-child(0n), .header_main > .header-left:nth-child(0n), .header_main > .header-right:nth-child(0n) {
        margin-right: 0;
        float: right
    }

    .header_main > .bwcom_logo:nth-child(0n + 1), .header_main > .header-left:nth-child(0n + 1), .header_main > .header-right:nth-child(0n + 1) {
        clear: left
    }

.header_main .bwcom_logo {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

    .header_main .bwcom_logo a img {
        max-width: 100%
    }

.header_main > .header-right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right
}

    .header_main > .header-right li {
        display: inline-block;
        margin-right: 8px;
        margin-right: .5rem
    }

    .header_main > .header-right a {
        font-size: 13px
    }

@media screen and (max-width: 1024px) {
    .header_main > .header-left {
        padding-left: 1rem
    }
}

@media screen and (max-width: 480px) {
    .header_main > .bwcom_logo, .header_main > .header-left, .header_main > .header-right {
        height: 56px
    }

    .header_main .bwcom_logo a img {
        max-width: 90%
    }

    .header_main .header-right li:last-child {
        display: none
    }
}

@media screen and (max-width: 320px) {
    .header_main .bwcom_logo a img {
        max-width: 100%;
        padding-top: 5px
    }
}

.ie9 .header_main > .bwcom_logo, .ie9 .header_main > .header-left, .ie9 .header_main > .header-right {
    padding-top: 8px;
    padding-top: .5rem;
    padding-bottom: 8px;
    padding-bottom: .5rem;
    height: auto
}

.search-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    background: #000000;
    background: rgba(0,0,0,0.87)
}

.search-form {
    padding: 16px 32px;
    padding: 1rem 2rem
}

    .search-form .input-block {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

        .search-form .input-block > .search {
            -webkit-flex: 3 1 auto;
            -ms-flex: 3 1 auto;
            flex: 3 1 auto
        }

        .search-form .input-block > .button {
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
            align-self: flex-end;
            margin-bottom: 32px;
            margin-bottom: 2rem
        }

    .search-form > .js-searchClose {
        display: block;
        text-align: right
    }

    .search-form .search {
        padding: 16px;
        padding: 1rem
    }

        .search-form .search input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
            border: 0;
            width: 100%;
            line-height: 80px;
            line-height: 5rem;
            border-bottom: 2px dashed #FFF;
            color: #FFF;
            font-size: 48px;
            font-size: 3rem;
            outline: none
        }

        .search-form .search > .submit {
            margin-bottom: 48px;
            margin-bottom: 3rem
        }

    .search-form .submit {
        margin: 16px 16px 0;
        margin: 1rem 1rem 0;
        padding-right: 64px;
        padding-right: 4rem;
        padding-left: 64px;
        padding-left: 4rem;
        line-height: 60px;
        background-color: #ffffff;
        background-color: rgba(255,255,255,0.8);
        border: 0;
        border-radius: 3px;
        text-align: center;
        font-size: 32px;
        font-size: 2rem;
        color: #0b113d;
        transition: all .3s ease-out
    }

        .search-form .submit:hover, .search-form .submit:focus {
            background-color: #fff;
            color: #0b113d
        }

@media screen and (max-width: 480px) {
    .search-form {
        padding: 1vw
    }

        .search-form .fa-4x {
            font-size: 2.5rem
        }

        .search-form .search {
            padding: 1vw 2vw
        }

            .search-form .search input {
                line-height: 2rem;
                font-size: 1.5rem
            }

        .search-form .submit {
            display: block;
            margin: 1rem auto;
            padding: .25rem 0;
            width: calc(100% - 4vw);
            line-height: normal;
            font-size: 1.5rem
        }

        .search-form .advantage {
            display: none
        }
}

.header-sprite {
    background-image: url(../images/header/sprite.png)
}

.header__burger {
    background-position: 0px -39px;
    width: 25px;
    height: 25px
}

.header__member {
    background-position: -25px -39px;
    width: 25px;
    height: 25px
}

.header__search {
    background-position: -50px -39px;
    width: 25px;
    height: 25px
}

.header__title {
    background-position: 0px 0px;
    width: 234px;
    height: 39px
}

.header__google {
    width: 85.33px;
    max-width: 100%;
    height: 26px
}

.header__facebook {
    width: 86.33px;
    max-width: 100%;
    height: 17.33px
}

.login-wrap {
    display: none
}

.login-overlay, .login-block .popover-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    background: #000000;
    background: rgba(0,0,0,0.87)
}

.footer-wrap {
    background: #B40505;
    padding-top: 30px;
    padding-bottom: 30px
}

@media screen and (max-width: 640px) {
    .footer-wrap {
        padding-bottom: 20px
    }
}

@media screen and (max-width: 480px) {
    .footer-wrap {
        padding-top: 20px
    }
}

@media screen and (max-width: 1024px) {
    .footer-1200 {
        padding-right: 1rem;
        padding-left: 1rem
    }
}

.footer-top {
    margin-bottom: 30px
}

    .footer-top > .logo, .footer-top > .social-group {
        width: calc(99.999999% * 1/2)
    }

        .footer-top > .logo:nth-child(1n), .footer-top > .social-group:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-top > .logo:last-child, .footer-top > .social-group:last-child {
            margin-right: 0
        }

        .footer-top > .logo:nth-child(0n), .footer-top > .social-group:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-top > .logo:nth-child(0n + 1), .footer-top > .social-group:nth-child(0n + 1) {
            clear: left
        }

        .footer-top > .logo a {
            display: inline-block
        }

@media screen and (max-width: 480px) {
    .footer-top {
        margin-bottom: 20px
    }

        .footer-top > .logo {
            display: none
        }

        .footer-top > .social-group {
            width: 100%;
            text-align: center
        }
}

.footer-center {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff
}

    .footer-center > .nav {
        width: calc(99.999999% * 4/10)
    }

        .footer-center > .nav:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-center > .nav:last-child {
            margin-right: 0
        }

        .footer-center > .nav:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-center > .nav:nth-child(0n + 1) {
            clear: left
        }

        .footer-center > .nav > ul {
            width: calc(99.999999% * 1/4)
        }

            .footer-center > .nav > ul:nth-child(1n) {
                float: left;
                margin-right: 0;
                clear: none
            }

            .footer-center > .nav > ul:last-child {
                margin-right: 0
            }

            .footer-center > .nav > ul:nth-child(0n) {
                margin-right: 0;
                float: right
            }

            .footer-center > .nav > ul:nth-child(0n + 1) {
                clear: left
            }

            .footer-center > .nav > ul > li {
                line-height: 32px;
                line-height: 2rem
            }

                .footer-center > .nav > ul > li.title {
                    line-height: 28px;
                    line-height: 1.75rem;
                    font-size: 20px;
                    font-size: 1.25rem
                }

            .footer-center > .nav > ul a {
                color: #ffffff;
                color: rgba(255,255,255,0.8)
            }

                .footer-center > .nav > ul a:hover, .footer-center > .nav > ul a:focus {
                    color: #fff
                }

    .footer-center > .footer-divider {
        width: calc(99.999999% * 1/10);
        padding: 1px
    }

        .footer-center > .footer-divider:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-center > .footer-divider:last-child {
            margin-right: 0
        }

        .footer-center > .footer-divider:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-center > .footer-divider:nth-child(0n + 1) {
            clear: left
        }

    .footer-center > .cover {
        width: calc(99.999999% * 5/10)
    }

        .footer-center > .cover:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-center > .cover:last-child {
            margin-right: 0
        }

        .footer-center > .cover:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-center > .cover:nth-child(0n + 1) {
            clear: left
        }

        .footer-center > .cover > ul {
            overflow: hidden
        }

            .footer-center > .cover > ul > li {
                width: calc(99.99% * 1/4 - (15px - 15px * 1/4))
            }

                .footer-center > .cover > ul > li:nth-child(1n) {
                    float: left;
                    margin-right: 15px;
                    clear: none
                }

                .footer-center > .cover > ul > li:last-child {
                    margin-right: 0
                }

                .footer-center > .cover > ul > li:nth-child(0n) {
                    margin-right: 0;
                    float: right
                }

                .footer-center > .cover > ul > li:nth-child(0n + 1) {
                    clear: left
                }

        .footer-center > .cover a {
            display: block;
            margin-right: auto;
            margin-left: auto;
            max-width: 145px
        }

            .footer-center > .cover a img {
                padding: 0 0 5px 0;
                max-width: 100%
            }

            .footer-center > .cover a span {
                max-width: 145px
            }

    .footer-center.-bwmag .nav {
        width: calc(99.99% * 7/10 - (1rem - 1rem * 7/10))
    }

        .footer-center.-bwmag .nav:nth-child(1n) {
            float: left;
            margin-right: 16px;
            margin-right: 1rem;
            clear: none;
            width: 100%;
        }

        .footer-center.-bwmag .nav:last-child {
            margin-right: 0
        }

        .footer-center.-bwmag .nav:nth-child(10n) {
            margin-right: 0;
            float: right
        }

        .footer-center.-bwmag .nav:nth-child(10n + 1) {
            clear: left
        }

        .footer-center.-bwmag .nav > ul {
            width: calc(99.999999% * 1/4)
        }

            .footer-center.-bwmag .nav > ul:nth-child(1n) {
                float: left;
                margin-right: 0;
                clear: none
            }

            .footer-center.-bwmag .nav > ul:last-child {
                margin-right: 0
            }

            .footer-center.-bwmag .nav > ul:nth-child(0n) {
                margin-right: 0;
                float: right
            }

            .footer-center.-bwmag .nav > ul:nth-child(0n + 1) {
                clear: left
            }

    .footer-center.-bwmag .footer-fbbox {
        width: calc(99.99% * 3/10 - (1rem - 1rem * 3/10))
    }

        .footer-center.-bwmag .footer-fbbox:nth-child(1n) {
            float: left;
            margin-right: 16px;
            margin-right: 1rem;
            clear: none
        }

        .footer-center.-bwmag .footer-fbbox:last-child {
            margin-right: 0
        }

        .footer-center.-bwmag .footer-fbbox:nth-child(10n) {
            margin-right: 0;
            float: right
        }

        .footer-center.-bwmag .footer-fbbox:nth-child(10n + 1) {
            clear: left
        }

@media screen and (max-width: 1024px) {
    .footer-center > .nav {
        width: calc(99.999999% * 5/10)
    }

        .footer-center > .nav:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-center > .nav:last-child {
            margin-right: 0
        }

        .footer-center > .nav:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-center > .nav:nth-child(0n + 1) {
            clear: left
        }

    .footer-center > .footer-divider {
        display: none
    }

    .footer-center > .cover a img {
        max-width: 120px
    }

    .footer-center > .cover a span {
        font-size: 13px
    }
}

@media screen and (max-width: 768px) {
    .footer-center > .nav {
        width: calc(99.999999% * 6.5/10)
    }

        .footer-center > .nav:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-center > .nav:last-child {
            margin-right: 0
        }

        .footer-center > .nav:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-center > .nav:nth-child(0n + 1) {
            clear: left
        }

    .footer-center > .cover {
        width: calc(99.999999% * 3.5/10)
    }

        .footer-center > .cover:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-center > .cover:last-child {
            margin-right: 0
        }

        .footer-center > .cover:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-center > .cover:nth-child(0n + 1) {
            clear: left
        }

        .footer-center > .cover > ul > li {
            width: calc(99.99% * 1/2 - (1rem - 1rem * 1/2))
        }

            .footer-center > .cover > ul > li:nth-child(1n) {
                float: left;
                margin-right: 1rem;
                clear: none
            }

            .footer-center > .cover > ul > li:last-child {
                margin-right: 0
            }

            .footer-center > .cover > ul > li:nth-child(2n) {
                margin-right: 0;
                float: right
            }

            .footer-center > .cover > ul > li:nth-child(2n + 1) {
                clear: left
            }

        .footer-center > .cover a img {
            max-width: 100%
        }

        .footer-center > .cover a span {
            display: block
        }

        .footer-center > .cover > ul > li:last-child, .footer-center > .cover > ul > li:nth-last-child(2) {
            display: none
        }
}

@media screen and (max-width: 640px) {
    .footer-center > .nav {
        width: 100%
    }

        .footer-center > .nav > ul {
            padding-left: 6%
        }

    .footer-center > .cover {
        display: none
    }
}

@media screen and (max-width: 480px) {
    .footer-center {
        display: none
    }
}

.footer-bottom > .left, .footer-bottom > .right {
    width: calc(99.999999% * 1/2)
}

    .footer-bottom > .left:nth-child(1n), .footer-bottom > .right:nth-child(1n) {
        float: left;
        margin-right: 0;
        clear: none
    }

    .footer-bottom > .left:last-child, .footer-bottom > .right:last-child {
        margin-right: 0
    }

    .footer-bottom > .left:nth-child(0n), .footer-bottom > .right:nth-child(0n) {
        margin-right: 0;
        float: right
    }

    .footer-bottom > .left:nth-child(0n + 1), .footer-bottom > .right:nth-child(0n + 1) {
        clear: left
    }

.footer-bottom .link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    margin-bottom: .5rem
}

    .footer-bottom .link li {
        margin-right: 16px;
        margin-right: 1rem
    }

    .footer-bottom .link a {
        display: block
    }

    .footer-bottom .link .aa {
        margin-right: 1rem;
        height: 60px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

.footer-bottom .Logos > img {
    max-width: 32px;
    margin-right: 15px !important;
}

.footer-bottom .Logos a {
    text-decoration: underline;
    font-size: 14px;
    color: #fff;
    letter-spacing: .22px;
    margin-bottom: 8px;
    opacity: .8;
    display: inline-block;
}

.footer-bottom .Free-download {
    margin-right: 32px;
}

.footer-bottom .sitemap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

    .footer-bottom .sitemap li {
        padding-right: 10px
    }

    .footer-bottom .sitemap a {
        line-height: 28px;
        line-height: 1.75rem;
        font-size: 12.8px;
        font-size: .8rem
    }

.footer-bottom .edm-form {
    position: relative;
    margin-bottom: 8px;
    margin-bottom: .5rem;
    text-align: right
}

    .footer-bottom .edm-form .mail-icon {
        position: relative;
        top: 8px;
        margin-right: 8px;
        margin-right: .5rem;
        line-height: 16px;
        line-height: 1rem;
        font-size: 40px
    }

    .footer-bottom .edm-form .input, .footer-bottom .edm-form .submit {
        padding: 0;
        border: 1px solid #AAA;
        height: calc(2rem + 2px);
        line-height: 32px;
        line-height: 2rem;
        outline: 0
    }

    .footer-bottom .edm-form .input {
        padding-right: 152px;
        padding-right: 9.5rem;
        padding-left: 16px;
        padding-left: 1rem;
        width: 75%;
        border: none
    }

    .footer-bottom .edm-form .submit {
        position: absolute;
        right: 0;
        padding: 0 16px;
        padding: 0 1rem;
        background: #AAA
    }

.footer-bottom h6 {
    line-height: 28px;
    line-height: 1.75rem;
    font-size: 12.8px;
    font-size: .8rem;
    font-weight: normal
}

@media screen and (max-width: 1024px) {
    .footer-bottom > .left {
        width: calc(99.999999% * 55/100)
    }

        .footer-bottom > .left:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-bottom > .left:last-child {
            margin-right: 0
        }

        .footer-bottom > .left:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-bottom > .left:nth-child(0n + 1) {
            clear: left
        }

    .footer-bottom > .right {
        width: calc(99.999999% * 45/100)
    }

        .footer-bottom > .right:nth-child(1n) {
            float: left;
            margin-right: 0;
            clear: none
        }

        .footer-bottom > .right:last-child {
            margin-right: 0
        }

        .footer-bottom > .right:nth-child(0n) {
            margin-right: 0;
            float: right
        }

        .footer-bottom > .right:nth-child(0n + 1) {
            clear: left
        }
}

@media screen and (max-width: 768px) {
    .footer-bottom .link {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 1.1rem
    }

    .footer-bottom .sitemap li {
        padding-right: .25rem
    }
}

@media screen and (max-width: 640px) {
    .footer-bottom > .left, .footer-bottom > .right {
        width: 100%
    }

    .footer-bottom .edm-form, .footer-bottom .sitemap {
        display: none
    }

    .footer-bottom .link {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .footer-bottom h6 {
        text-align: left
    }
}

@media screen and (max-width: 480px) {
    .footer-bottom .link {
        display: none
    }

    .footer-bottom h6 {
        text-align: center
    }
}

@media screen and (max-width: 480px) {
    .footer-bottom h6 {
        line-height: 1.5rem
    }
}

.ie9 .footer-bottom .link li, .ie9 .footer-bottom .sitemap li {
    display: inline-block
}

.orderlink a, .orderlink a:link, .orderlink a:visited {
    display: block;
    margin-bottom: 20px;
    border: #FFF 1px solid;
    border-radius: 3px;
    line-height: 2.8em;
    color: #FFF
}

.social-group a {
    display: inline-block;
    margin-left: 20px;
    font-size: 40px;
    font-size: 2.5rem
}

.login-block a {
    font-size: 15px
}

.login-block .popover {
    position: relative;
    padding-right: 8px;
    padding-right: .5rem;
    padding-left: 8px;
    padding-left: .5rem;
    border-right: 1px solid currentColor;
    border-left: 1px solid currentColor;
    color: #CD0505
}

@media screen and (max-width: 480px) {
    .login-block .popover {
        display: none !important
    }
}

.login-block .popover.-mobile {
    display: none;
    *zoom: 1;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1002;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
    font-size: 16px
}

    .login-block .popover.-mobile:before {
        content: '';
        display: table
    }

    .login-block .popover.-mobile:after {
        content: '';
        display: table;
        clear: both
    }

    .login-block .popover.-mobile a {
        font-size: 16px
    }

    .login-block .popover.-mobile .popover-style {
        border-top: 13px solid #CD0505;
        border-radius: 5px
    }

@media screen and (max-width: 480px) {
    .login-block .popover.-mobile {
        display: block !important
    }
}

.login-block .popover-login {
    position: absolute;
    top: 200%;
    right: 0;
    z-index: 1000;
    border: 1px solid #CD0505;
    border-radius: 2px
}

    .login-block .popover-login:before, .login-block .popover-login:after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: calc(100% - 66px);
        height: 0;
        width: 0;
        border: solid transparent;
        pointer-events: none
    }

    .login-block .popover-login:after {
        margin-left: -12px;
        border-bottom-color: #FFF;
        border-width: 12px
    }

    .login-block .popover-login:before {
        margin-left: -13px;
        border-bottom-color: #CD0505;
        border-width: 13px
    }

@media screen and (max-width: 768px) {
    .login-block .popover-login {
        display: none
    }
}

.login-block .popover-style {
    display: none;
    padding: 20px;
    min-width: 340px;
    background: #FFF;
    text-align: left
}

    .login-block .popover-style p {
        margin-bottom: 16px;
        color: #000
    }

    .login-block .popover-style a {
        display: block;
        margin-bottom: 8px;
        margin-bottom: .5rem;
        font-size: 16px;
        color: #CD0505;
        text-decoration: underline
    }

        .login-block .popover-style a:hover, .login-block .popover-style a:focus {
            text-decoration: none
        }

    .login-block .popover-style .fa {
        padding-right: 8px;
        padding-right: .5rem
    }

    .login-block .popover-style .red {
        color: #CD0505
    }

    .login-block .popover-style .js-popclose {
        text-decoration: underline;
        text-align: right;
        color: #787878
    }

        .login-block .popover-style .js-popclose:hover, .login-block .popover-style .js-popclose:focus {
            text-decoration: none
        }

    .login-block .popover-style hr {
        border-top: 1px solid #000
    }

    .login-block .popover-style.logged {
        display: block
    }

.login-block .popover-avator {
    margin: 0
}

    .login-block .popover-avator img {
        margin: 0 auto 20px;
        max-width: 160px;
        border-radius: 50%
    }

    .login-block .popover-avator figcaption a {
        text-align: center;
        color: #000;
        text-decoration: none
    }

        .login-block .popover-avator figcaption a .name {
            display: block;
            margin-bottom: 10px
        }

    .login-block .popover-avator figcaption span {
        display: inline-block
    }

@media screen and (max-width: 480px) {
    .login-block .popover-overlay {
        display: none
    }

        .login-block .popover-overlay.logged {
            display: block
        }
}

.login-block .member-style {
    position: relative;
    top: -1px;
    padding: 2px;
    border: 1px solid currentColor;
    font-size: 13px
}

    .login-block .member-style.-register {
        color: #F90
    }

    .login-block .member-style.-payment {
        color: #008EDD
    }

    .login-block .member-style.-normal {
        color: #CD0505
    }

.login-block .mobile-avator {
    display: none !important;
    position: relative
}

    .login-block .mobile-avator img {
        max-width: 25px !important;
        border: 3px solid #acacac;
        border-radius: 50%
    }

    .login-block .mobile-avator .avator-block {
        position: absolute;
        top: 38px;
        right: -4px;
        z-index: 1000;
        padding: 16px;
        min-width: 80vw;
        background: #FFF;
        border: 1px solid #CD0505;
        border-radius: 2px;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        transition: all .5s ease
    }

        .login-block .mobile-avator .avator-block.show {
            display: block;
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1)
        }

        .login-block .mobile-avator .avator-block a {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            color: #000
        }

            .login-block .mobile-avator .avator-block a:last-child {
                margin-bottom: 0
            }

        .login-block .mobile-avator .avator-block:before, .login-block .mobile-avator .avator-block:after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: calc(100% - 16px);
            height: 0;
            width: 0;
            border: solid transparent;
            pointer-events: none
        }

        .login-block .mobile-avator .avator-block:after {
            margin-left: -12px;
            border-bottom-color: #FFF;
            border-width: 12px
        }

        .login-block .mobile-avator .avator-block:before {
            margin-left: -13px;
            border-bottom-color: #CD0505;
            border-width: 13px
        }

@media screen and (max-width: 480px) {
    .login-block .mobile-avator {
        display: block !important
    }

    .login-block .popover-style {
        min-width: initial
    }
}

.header_main, .footer-top, .footer-center, .footer-bottom, .footer-center > .nav, .footer-center > .cover {
    *zoom: 1
}

    .header_main:before, .footer-top:before, .footer-center:before, .footer-bottom:before, .footer-center > .nav:before, .footer-center > .cover:before {
        content: '';
        display: table
    }

    .header_main:after, .footer-top:after, .footer-center:after, .footer-bottom:after, .footer-center > .nav:after, .footer-center > .cover:after {
        content: '';
        display: table;
        clear: both
    }

._center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

._pull-right {
    float: right !important
}

._pull-left {
    float: left !important
}

._hide {
    display: none !important
}

._show {
    display: block !important
}

._invisible {
    visibility: hidden
}

._hidden {
    display: none !important
}

._list-unstyled {
    padding-left: 0;
    list-style: none
}

._responsive {
    font-size: calc(12px + 9 * ((100vw - 420px) / 860))
}

@media screen and (min-width: 1280px) {
    ._responsive {
        font-size: 21px
    }
}

@media screen and (max-width: 420px) {
    ._responsive {
        font-size: 12px
    }
}

._text-right {
    text-align: left
}

._text-center {
    text-align: center
}

._text-right {
    text-align: right
}

._text-justify {
    text-align: justify
}

._text-nowrap {
    white-space: nowrap
}

._text-lowercase {
    text-transform: lowercase
}

._text-uppercase {
    text-transform: uppercase
}

._text-capitalize {
    text-transform: capitalize
}

._text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.footer-bottom .link img, .login-block .popover-avator img, .login-block .mobile-avator img {
    display: block;
    max-width: 100%;
    height: auto
}

.keysword-promot {
    display: none;
    position: absolute;
    z-index: 9999;
    max-height: calc(5rem * 5.1);
    overflow: hidden;
    overflow-y: auto;
    background: #ffffff;
    background: rgba(255,255,255,0.54);
    border-top: 0;
    text-align: left;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.26)
}

    .keysword-promot > div {
        padding: 16px;
        padding: 1rem;
        font-size: 48px;
        font-size: 3rem;
        cursor: pointer
    }

        .keysword-promot > div b {
            color: #CD0505
        }

        .keysword-promot > div:hover, .keysword-promot > div:focus, .keysword-promot > div.selected {
            background: #CD0505;
            color: #FFF
        }

            .keysword-promot > div:hover b, .keysword-promot > div:focus b, .keysword-promot > div.selected b {
                color: #FFF;
                font-weight: bold
            }

@media screen and (max-width: 480px) {
    .keysword-promot {
        max-height: 45vh
    }

        .keysword-promot > div {
            padding: .5rem;
            font-size: 1.25rem
        }
}

#progress-wrapper {
    z-index: 9999
}

#progress-element {
    transition: all 1s ease
}
